/* Inline code */
@import url('https://cdn.rawgit.com/tonsky/FiraCode/1.204/distr/fira_code.css');

:not(pre) > code[class*='language-'] {
  border-radius: 0.3em;
  border: 1px solid #848484;
  background: rgba(255, 229, 100, 0.2);
  color: #1a1a1a;
  font-size: 16px;
  padding: 0.15em 0.3em 0.05em;
  white-space: normal;
}

pre[class*='language-'] {
  font-family: 'Fira Code', Menlo, Monaco, 'Lucida Console', 'Courier New',
    Courier, monospace;
}

code[class*='language-'],
pre[class*='language-'] {
  font-family: 'Fira Code', Menlo, Monaco, source-code-pro, Courier New,
    monospace;
}
